.wrap {
    width: 1200px;
    margin: 0 auto;
}

.content {
    float: left;
    background: #F5F5DC;
    width : 1060px;
}

.maintable {
    width: 1080px;
    border: 0;
    cellspacing: 0;
}

.image {
    width: 250px;
    height: 200px;
}

.tabrow {
    height: 220px;
    width: 250px;
}

.container {
    padding-top: 10px;
}

.textarea{
    margin: 0px;
    width: 800px;
    height: 70px;
    resize: none;
}

.sendButton{
    float:right;
}