<html ng-app="myApp">
<head>

    <link rel="stylesheet" href="css/style.css?123">
    <link rel="stylesheet" href="css/ngDialog.css">
    <link rel="stylesheet" href="css/ngDialog-theme-default.css?123">
    <meta charset="utf-8">
</head>
<body ng-controller="PictureCtrl">

<div class="wrap">
    <div class="content">

        <!--    <pop-up-dialog></pop-up-dialog>-->
        <!-- <input type="text" {{p.path}}> -->

        <table class="maintable">
            <tr ng-repeat="picture in pictures">
                <td ng-repeat="p in picture" class="tabrow">

                    <img src={{p.path}} alt="" class="image" ng-click="openDefault(p)"></td>
            </tr>
        </table>

        <!-- Templates -->

        <script type="text/ng-template" id="firstDialogId">
            <div position="absolute" ng-controller="InsideCtrl" >

                <div>
                    <img src={{currentPicture.path}} width="800px" height="500px">
                </div>
                <div style="width: 730px; margin:2px; position:relative; left:50px">
                    <code >{{currentPicture.description}}</code>
                </div>
                <div >
                    <table style="height: 200px">

                        <tr ng-repeat="comment in comments">
                            <td>
                            <td style="position: relative; left:200px">
                                <b><span>{{comment.comment_date}}: </span></b>
                            </td>
                            <td style="position: relative; left: 225px; width:500px">
                                <span style="width:600px; word-break:break-all">
                                     {{ comment.comment }}
                                </span>
                            </td>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <textarea ng-model="newComment" class="textarea"></textarea>
                </div>


                <div >
                    <button id="bntClearMessage" ng-click="clearComment()" style="margin:5px; position:relative; left:615px">Очистить</button>
                    <button id="bntSendMessage" ng-click="addComment()" style="margin:5px; position:relative; left:625px">Отправить</button>
                </div>
            </div>

        </script>
        <script src=libs/angular.js></script>
        <script src=app.js?123></script>
        <script src=libs/ngDialog.js></script>
    </div>
</div>


</body>
</html>